.infoLabel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 50%;
    font-size: 36px;
    font-weight: bold;
    border: 2px solid #ec1c24;
    padding: 1rem;
    font-family: 'Orbitron', sans-serif;
}

.infoContent{
    justify-content: flex-end;
    width: 50%;
    margin-left: auto;
    border: 2px solid #ec1c24;
    margin-top: 0;
    padding: 1rem;
}

.infoLabel:hover{
    background-color: #ec1c24;
    color: #0d161d;
    cursor: pointer;
}

.container{
    margin-top: 50px;
}

.hide{
    display: none;
}

.blink{
    animation: blink 2s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.highlight{
    color: red;
}
