.homeLabelR{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 50%;
    font-size: 36px;
    font-weight: bold;
    border: 2px solid #ec1c24;
    padding: 1rem;
}

.homeLabelL{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    width: 50%;
    font-size: 36px;
    font-weight: bold;
    border: 2px solid #ec1c24;
    padding: 1rem;
}

.aboutPR{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-left: auto;
    border: 2px solid #ec1c24;
    margin-top: 0;
    padding: 1rem;
}

.homeLabelR:hover{
    background-color: #ec1c24;
    color: #0d161d;
    cursor: pointer;
}

.homeLabelL:hover{
    background-color: #ec1c24;
    color: #0d161d;
    cursor: pointer;
}

.aboutPL{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin-right: auto;
    border: 2px solid #ec1c24;
    margin-top: 0;
    padding: 1rem;
}

.container{
    margin-top: 50px;
}

.box{
    display: none;
}

.blink{
    animation: blink 2s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
